
body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.header__logo {
    height: 50px;
}

.header__nav__ul {
    display: flex;
    gap: 20px;
    text-decoration: none;
}

.header__nav__ul li {
    display: inline;
}

