
html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-size);
    padding: 0 50px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.header__logo {
    height: var(--header-size);
}

.header__nav .sections {
    display: flex;
    gap: 20px;
    text-decoration: none;
}

.header__nav .sections li {
    display: inline;
}

.sections li a {
    color: var(--pink);
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: none;
    transition: color 0.2s;
}

.sections li a:hover {
    color: var(--orange);
}

.informations {
    display: grid;
    height: calc(100% - var(--header-size));
    grid-template-rows: 1fr 1fr;
}

.informations__title {
    text-align: center;
    align-content: center;
    font-size: 50px;
}

.informations__about-container {
    display: flex;
}

.informations__about-container .about {
    margin: 0px 40px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

@media (max-width: 700px) {
    .informations__about-container {
        display: flex;
        flex-direction: column;
    }
}

#sketch-container {
    position: fixed;
    top: var(--header-size); 
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    opacity: 1.0;
}

